body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:tan;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo img {
    width: 100px;
    height: auto; 
    border-radius: 50%; 
    border: 2px solid #000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.logo a {
    text-decoration: none; 
    color: inherit; 
}

section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
   
}


.Back {
    margin-top: 20px; 
    text-align: center;
}

.Back button {
    background-color:white;
    color:black; 
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
   
}


.Back button:hover {
    background-color:palegoldenrod; 
}

